body{
    background-color: black;
    
}
h1{
    text-align: center;
    text-decoration: solid;
    color:red;

}
div{
    color:blue;
    margin-bottom: 12px;
    
}
.hi{
    background-color: yellow;
    color:black;
    
    
}
.h1:hover{
    background-color: bisque;
}
#photo1{
    height:250px;
    width:500px;
    background-image: url(EVENT1.png);
    background-size: contain;
    margin-left: 40%;
    animation: height 0.5s ease-in 1s infinite normal;
    animation: width 0.5s ease-in 1s infinite normal;
}
#photo2{
    height:250px;
    width:500px;
    background-image: url(EVENT2.png);
    background-size: contain;
    margin-left: 40%;
    animation: height 0.5s ease-in 1s infinite normal;
    animation: width 0.5s ease-in 1s infinite normal;
}
@keyframes height{
   from{
   height:250px;
}
   to{
    height:300px;
}
}
@keyframes width{
   from{
   width:250px;
}
   to{
    width:300px;
}
}
#first{
    text-decoration:dotted;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: white;
    text-align: center;
}
#second{
    text-decoration: dotted;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    color:white;
    text-align: center;
}
.heading1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: wavy;
    color:red;
    font-size: 20px;
}
